# use glob syntax.
syntax: glob

extern/
*~
*.in
*.pyc
*.o
*.so
*.a
*.dat
*.out
*.eps
*.lay
*.igs
*.f5
*.bdf
*.tar.gz
*.png
*.plt
*.phy
*.bin
*.aux
*.bbl
*.blg
*.log
*.nav
*.snm
*.toc
*.stl
*.bstl
*.tar
*.avi
*.mcr
*.zip
*.vtk
*.txt
*.STEP
*.stp
*.step

egads4py/*.c
egads4py/*.cpp
